.git
.gitignore
.env
.env.*
node_modules
/public/storage
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
generate-icons.php
Dockerfile
.dockerignore
README.md
*.md
